<section class="container">
    <h1 style="text-align: center;">Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
    <div class="mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullname" name="fullname" formControlName="fullname">
    </div>
      <div class="mb-3">
        <label for="username" class="form-label">User Name</label>
        <input type="text" class="form-control" id="username" name="username" formControlName="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input  type="password" class="form-control" id="password" name="password" formControlName="password" />
      </div>
      <div class="mb-3">
        <label for="conpassword" class="form-label">Confirm Password</label>
        <input  type="password" class="form-control" id="conpassword" name="conpassword" formControlName="conpassword" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" formControlName="email">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
  </form>
  </section>
  <section class="container">
      {{result}}
  </section>
